<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <listeners>
      <listener class-name = "listeners.TestNGCustomReportListener" />
   </listeners>
  <test thread-count="1" name="Test">
    <classes>
    	 <class name="tests.Test1"/>
        <class name="tests.Test2"/>    
    </classes>
  </test> 
  
  <test thread-count = "1" name="onlyThirdFile">
  	<classes>
  		<class name="tests.Test3"/>
  	</classes>
  </test>
  
  
</suite>








  	<!-- <parameter name="sUsername" value="udaykumar"/>
	<parameter name="sPassword" value="uday4923"/>
  	  <groups>
  		<run>
  			<include name = "even" />
  		</run>
  	</groups> 
    <classes>
    	 <class name="tests.Test1"/>
        </class> 
        <class name="tests.Test2"> 
        <class name="tests.DataProviderTest"/>
        	<methods>
      		<exclude name="Testtwopointtwo"/>
      	</methods>    
    </classes> -->